/*.MB ,.pilars, .members, .service{
	height: 90vh;
}

.contact{
	height: 70vh;
	background-color: #C1C1C1;
}

.MB, .members{
	background-color: #FFCC00;
}

.pilars,.service{
	background-color: #B2B2B2;
}*/

.pilar, .serve{
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.pilar-pic, .service-pic{
	min-height: 260px;
	border-radius: 4px;
	background: no-repeat center center;
	background-size: cover;
}

.pilar-pic-body, .service-pic-body{
	position: absolute;
  	bottom: 20px;
  	padding-left: 20px;
  	padding-right: 35px;
  	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/*/*.contact-form{
	background-color: #D8D8D8;
}*/

.active{
	background-color: #FFDA47;
}